
body {
  font-family: courier new;
  text-align: center;
  color: white;
  touch-action: manipulation;
}

#controls {
  overflow: visible;
  position:absolute;
  left:1em;
  bottom:1em;
}
#controls-commands {
  display:none;
}
#controls td>div {
  height:100%;
  width:100%;
}
.dir-btn {
  width: 3em; height:3em;
  display:block;
}
.response-btn {
  font-size: 1em;
  cursor:pointer;
  pointer-events:all;
}
#commands {
  overflow: visible;
  position:absolute;
  right:1em;
  bottom:1em;
  display: flex;
  flex-direction: column-reverse;
  z-index:1001;
}
#statBox .com-btn {
  margin: 3px 12px;
}
.com-btn {
  filter:greyscale(100%); width:4em; height:4em;
  border: 1px solid grey;
  border-radius: 50%;
  margin: 3px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.com-down{display:none}
#msgBox {
  position:absolute;
  text-align: center;
  right:0;
  left:0;
  top:20px;
  font-size:0.8em;
}
#msgBox>span{ background: black; }
#msgBox, #minimap{
  pointer-events : none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
#show-u-command{display:none}
#playerName, #levelBox {
  font-family: 'Berkshire Swash', cursive; font-size:24px;
}
#statBox {
  margin:0;
  text-align:left; /*display:grid; grid-template-columns: 1fr 1fr 1fr 1fr;*/
  float: left;
}
#statBox div, #levelBox div { display:inline-block; z-index:1}
#statBox img, #levelBox img { width: 32px; height:32px; vertical-align:middle}
#statBox span { padding: 4px; }
#statBoxStats>div {
  height:32px;
}
.stat--img {
  width: 16px; height: 16px;
  transform: scale(2);
  vertical-align:middle;
  margin-left: 8px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
#pKey, #pChestKey, #pGreenKey {display:none}
#pXP { display:none; }
#skillPoint { display:none; }

#map,#use-menu,#action-menu,#equip-menu,#help-menu,.menu,
.game-menu {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  padding: 0.5em
}
.menu {
  width:100%;
  min-height:100%;
  z-index:1000;
}
#minimap{
  position:absolute;
  right:3em;
  top:3em;
}
#use-menu,#action-menu,#equip-menu,#help-menu,.menu,
.game-menu {
  background:rgba(0,0,0,0.9);
  visibility:hidden;
  border: 2px solid #613214;
  max-height:100%;
  max-height: 100vh;
  overflow-y: scroll;
}
#btnTabsM {
  visibility:hidden;
  position:absolute;
  display:flex;
  flex-direction: column;
  align-items: center;
  display:none;
}
button{
  font-size: 3em;
}
#play-btn-container{
  display:none;
  position: absolute;
  top:55%;
  left:0;
  right:0;
  text-align:center;
}
.play-btn {
  text-transform: uppercase;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  border-radius:0.5em;
  color: white;
  text-decoration: none;
  margin-bottom: 0.5em;
  cursor: pointer;
  display: inline-block;
  min-width: 200px;
  background: #1b2d3b;
  border: 2px solid #579ca2;
}
.play-btn:hover {
  color: white;
  background: #579ca2;
}

.menu--title {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2em;
  text-align:center;
  min-width:300px;
}

.menu--list {
  text-align:left;
}

.menu .close img {
  cursor: pointer;
  width:1em;
  vertical-align: middle;
  float: right;
  opacity:0.3;
}

.menu .close img:hover {
  opacity:1;
}
.menu-item {
  cursor: pointer;
  padding: 0.4em;
  margin: 0.4em 0;
  border: 1px solid #151515;
}
.menu-item:hover {
  border: 1px solid lightgrey;
}

.item-img{
  width: 16px;
  height: 16px;
  transform: scale(2);
  display:inline-block;
  vertical-align: middle;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.item-name{
  font-size: 1.3em;
}

@media screen and (min-width: 400px) and (max-width: 680px) {
  .menu--list {
    margin: 0 6em;
  }
  .menu--title {
    margin: 10px;
  }
  #btnTabsM {
    visibility:visible;
  }
}

@media screen and (min-width: 681px) {
  #show-u-command {
    display: inline-block;
  }
  #statBox {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .menu {
    width: auto;
    min-height: auto;
  }
}
@media screen and (min-width: 1100px) {
  #controls {
    display:none;
  }
  .mobi-btn {
    display:none!important;
  }
  #controls-commands {
    display:inline-block;
    overflow: visible;
    position:absolute;
    left:1em;
    bottom:1em;
  }
}

.div-com {
  position: relative;
}
.com-btn:hover {
  border: 1px solid lightgrey;
  cursor: pointer; 
}
#pArrows, .pSpan {
  position: absolute;
  right: 22px;
  bottom: 26px;
}


.green {
  color:green
}


/******** Index *********/
#game-title, #newgame-title, h1, h2 ,h3 {
  font-family: 'Berkshire Swash', cursive;
}
#game-title {
  font-size: 3em;
  padding: 1em 0;
}
#newgame-title {
  font-size: 2em;
  padding: 0;
}
#main {
  padding: 20px;
  width: 100%;
  padding: 10px;
  height: 100%;
  position: absolute;
  top: 4em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#maindiv {
  max-width: 100%;
  max-width: 900px;
  margin:auto;
}
@media screen and (min-width: 600px) {
  #main {
    width: 50%;
    max-width: 250px;
    top:0;
  }
  #game-title {
    font-size: 4em;
    padding: 20px 0;
    width:50%;
    float:right;
  }
}
@media screen and (min-width: 800px) {
  #main {
    padding: 10px;
    max-width:500px
  }
  #newgame-title {
    font-size: 3em;
    padding: 30px 0;
  }
  #game-title {
    font-size: 4em;
    padding: 30px 0;
    float:none;
    width:auto;
  }
  .play-btn {
    margin-bottom: 1em;
  }
}

.com-table, .hof-table {
  margin:auto; max-width:100%;
  border-collapse: collapse;
}
.hof-table td {
  text-align: center;
}
.com-table th, .com-table td, .hof-table td {
  min-width: 160px;
  border-top: 1px solid grey;
  padding: 8px 0;
}

button{
  font-size: 3em;
}


/******* New Game   *****/
.class-card {
  margin:0;
  padding: 8px;
  border: 2px solid transparent;
  display: inline-block;
  width: 64px;
  height: 64px;
}
@media screen and (min-width: 800px) {
  .class-card {
    margin:0.7em;
  }
}
.class-selected {
  border: 2px solid #579ca2;
}
.class-avatar {
  transform: scale(3);
  margin: 15px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.class-panel {
  padding:0 2em;
  background: black;
  border-radius:0.5em;
  border: 2px solid #1b2d3b;
}
.centered{
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}

.css-bg {
  width: 16px; height: 16px; transform: scale(3); vertical-align:middle;
  margin: 16px 32px 32px 16px;
}
